version: '3.9'
networks:
  proxy:
    name: nginx-proxy
    external: true
services:
  nginx-proxy:
    container_name: nginx-proxy
    image: "{{ nginx.proxy.images.nginx }}:{{ nginx.proxy.versions.nginx }}"
    restart: always
    networks:
      - proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - certs:/etc/nginx/certs
      - html:/usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./vhost.d/:/etc/nginx/vhost.d/
  nginx-proxy-letsencrypt:
    container_name: nginx-proxy-letsencrypt
    image: "{{ nginx.proxy.images.le }}:{{ nginx.proxy.versions.le }}"
    restart: always
    networks:
      - proxy
    volumes:
      - certs:/etc/nginx/certs
      - html:/usr/share/nginx/html
      - acme:/etc/acme.sh
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./vhost.d/:/etc/nginx/vhost.d/
    environment:
      NGINX_PROXY_CONTAINER: nginx-proxy
      DEBUG: 1
{% if nginx.proxy.dns_01 %}
      DEFAULT_EMAIL: "{{ nginx.proxy.dns_01.email }}"
      ACME_CHALLENGE: "DNS-01"
      ACMESH_DNS_API_CONFIG: |-
        DNS_API: "{{ nginx.proxy.dns_01.api }}"
        CF_Key: "{{ nginx.proxy.dns_01.cf_key }}"
        CF_Email: "{{ nginx.proxy.dns_01.cf_email }}"
{% endif %}
volumes:
  certs:
  html:
  acme:
